*{
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 98%);
}
.header{
    width: 35%;
    text-align: center;
    margin-left: 25em;
}
.header h1{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    color: hsl(234, 12%, 34%);
}
h1#low{
    font-weight: bolder;
}
.header p{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 1em;
    color: hsl(229, 6%, 66%);
}
.item_1{
    background-color: white;
    width: 25%;
    padding-top: 1em;
    padding-left: 2em;
    padding-bottom: 1em;
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.2);
    border-top-style: solid;
    border-top-color: hsl(180, 62%, 55%);
    border-radius: 10px;
}
.item_1 h3{
    color: hsl(234, 12%, 34%);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.item_1 p{
    color: hsl(229, 6%, 66%);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.item_1 img{
    margin-left: 12.5em;
    margin-top: 2.5em;
}
.item_2{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 3em;
}
.con1{
    background-color: white;
    width: 100%;
    padding-top: 1em;
    padding-left: 2em;
    padding-bottom: 1em;
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.2);
    border-top-style: solid;
    border-top-color: hsl(0, 78%, 62%);
    border-radius: 10px;
}
.con1 h3 {
    color: hsl(234, 12%, 34%);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.con1 p {
    color: hsl(229, 6%, 66%);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.con1 img {
    margin-left: 12.5em;
    margin-top: 2.5em;
}
.con2 {
    background-color: white;
    width: 100%;
    padding-top: 1em;
    padding-left: 2em;
    padding-bottom: 1em;
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.2);
    border-top-style: solid;
    border-top-color: hsl(34, 97%, 64%);
    border-radius: 10px;
}
.con2 h3 {
    color: hsl(234, 12%, 34%);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.con2 p {
    color: hsl(229, 6%, 66%);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.con2 img {
    margin-left: 12.5em;
    margin-top: 2.5em;
}
.item_3 {
    background-color: white;
    width: 25%;
    padding-top: 1em;
    padding-left: 2em;
    padding-bottom: 1em;
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.2);
    border-top-style: solid;
    border-top-color: hsl(212, 86%, 64%);
    border-radius: 10px;
}

.item_3 h3 {
    color: hsl(234, 12%, 34%);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.item_3 p {
    color: hsl(229, 6%, 66%);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.item_3 img {
    margin-left: 12.5em;
    margin-top: 2.5em;
}
.container{
    width: 100%;
    display: flex;
    gap: 3em;
    align-items: center;
    margin-left: 6em;
}

/* Media Queries */
@media(max-width: 1024px){
    .header{
        margin-left: 20em;
    }
    .container{
        margin-left: 0em;
        width: 100%;
    }
    .item_1,
    .item_2,
    .item_3 {
        width: 100%;
    }
    .con1 img,
    .con2 img{
        margin-left: 10em;
    }
}

@media (max-width: 768px) {
    .header{
        margin-left: 5em;
        width: 70%;
    }
    .container{
        width: 100%;
        margin-left: 0;
        display: flex;
        flex-direction: column;
    }
    .item_1, 
    .item_2, 
    .item_3{
        width: 65%;
    }
}

@media (min-width: 501px) and (max-width:640px) {
    .header h1#low{
        font-size: 1.8em;
    }
    .item_1,
    .item_2,
    .item_3 {
        width: 70%;
    }
}

@media (min-width: 401px) and (max-width: 500px) {
    .header{
        margin-left: 4em;
    }
    h1#low{
        font-size: 1.4em;
    }
    .header h1{
        font-size: 1.6em;
    }
    .item_1,
    .item_2,
    .item_3 {
        width: 80%;
    }
}

@media (min-width: 320px) and (max-width:400px) {
    .header{
        margin-left: 3em;
    }
    .header h1{
        font-size: 1.3em;
    }
    .header h1#low{
        font-size: 1.2em;
    }
    .header p{
        font-size: .6em;
    }
    .container{
        width: 100%;
    }
    .item_1,
    .item_2,
    .item_3 {
        width: 80%;
    }
    .item_1 h3{
        font-size: .9em;
    }
    .item_1 p{
        font-size: .8em;
    }
    .item_1 img{
        width: 20%;
        margin-left: 10em;
    }
    .item_3 h3 {
        font-size: .9em;
    }

    .item_3 p {
        font-size: .8em;
    }

    .item_3 img {
        width: 20%;
        margin-left: 10em;
    }
    .con1 h3 {
        font-size: .9em;
    }

    .con1 p {
        font-size: .8em;
    }

    .con1 img {
        width: 20%;
        margin-left: 10em;
    }
    .con1 h3 {
        font-size: .9em;
    }

    .con2 p {
        font-size: .8em;
    }

    .con2 img {
        width: 20%;
        margin-left: 10em;
    }
}